<div class="wrapper">

	<header class="main-header">
		<nav class="navbar navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<a href="#!/" class="navbar-brand"><b>CON.PRE.ES</b></a>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                                <i class="fa fa-bars"></i>
                            </button>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse pull-left" id="navbar-collapse">

					<ul class="nav navbar-nav">
						<li id="recursos"><a href="#!/recursos">Recursos</a></li>
						<li id="base"><a href="#!/base">Base de dados</a></li>
						<li id="parceiras"><a href="#!/parceiras">Instituições Parceiras</a></li>
						<li id="participar"><a href="#!/participar">Como participar?</a></li>
						<li id="download"><a href="#!/download">Download</a></li>


					</ul>

				</div>
				<!-- /.navbar-collapse -->
				<!-- Navbar Right Menu -->
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<!-- Messages: style can be found in dropdown.less-->
						<li><a href="login">Login</a></li>
						<!-- /.messages-menu -->


					</ul>
				</div>
				<!-- /.navbar-custom-menu -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</header>
	<!-- Full Width Column -->
	<div class="content-wrapper">
		<div ng-view></div>
	</div>
	<!-- /.content-wrapper -->
	<footer class="main-footer">

		<div class="pull-right hidden-xs">

		</div>

	</footer>
</div>