<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header"> 
            Bem vindo ao CON.PRE.ES!
        
      </div>
      <div class="card-body">
      
            
                <p>
                    O Sistema CONPREES é uma plataforma colaborativa de análise e compartilhamento de dados meteorológicos. 
                    Seu objetivo é promover o intercâmbio de informações, melhorar a qualidade e a disponibilidade de dados meteorológicos no Brasil.
                </p>
      
        <div class="row">
            <div class="col-sm-12">
                <img src="off/images/home.png" class="img-responsive">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="page-header">
                <p>
                    Diversas fontes de dados são integradas de forma complementar para compor uma base de dados aprimorada com maior número de séries e melhor distribuição espacial possível em todo território brasileiro.
                </p>
            </div>
        </div>
      </div>
      <div class="card-footer">
      
      </div>
    </div>
   
  </div>
</div>
